.product-description-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 1200px;
    margin: 60px auto;
}

.product-description-container .thumbnails {
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 129px;
}

.product-description-container .thumbnails .thumbnail {
    width: 100%;
}

.product-description-container .thumbnails .thumbnail .thumbnail-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 80px;
    width: 80px;
    cursor: pointer;
}

.product-description-container .large-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 550px;
    height: 450px;
    margin-right: 90px;
    margin-left: 15px;
}

.product-description-container .description {
    display: flex;
    flex-direction: column;
    width: 292px;
}

.product-description-container .description .product-name {
    display: flex;
    flex-direction: column;
    font-family: 'Raleway';
    font-style: normal;
    margin-bottom: 35px;
}

.product-description-container .description .product-name .brand {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 14px;
}

.product-description-container .description .product-name .name {
    font-weight: 400;
    font-size: 30px;

}



.product-description-container .description .product-size {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.product-description-container .description .product-size .size-label {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 5px;

}

.product-description-container .description .product-size .size-picker {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    cursor: pointer;
}



.product-description-container .description .product-color {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.product-description-container .description .product-color .color-label {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.product-description-container .description .product-color .color-picker {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    cursor: pointer;
    margin: 3px 3px;
}


.product-description-container .description .product-capacity {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.product-description-container .description .product-capacity .capacity-label {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.product-description-container .description .product-capacity .capacity-picker {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    column-gap: 5px;
}


.product-description-container .description .product-with {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.product-description-container .description .product-with .ports-label {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.product-description-container .description .product-with .ports-picker {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    column-gap: 5px;
}


.product-description-container .description .product-touch {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.product-description-container .description .product-touch .keyboard-label {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.product-description-container .description .product-touch .keyboard-picker {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    column-gap: 10px;
}

.product-description-container .description .product-price {
    display: flex;
    flex-direction: column;

    margin-bottom: 20px;
}

.product-description-container .description .product-price .price-label {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.product-description-container .description .product-price .price-value {
    display: flex;
    flex-direction: row;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}

.product-description-container .description .add-product-to-cart {
    margin-top: 20px;
}

.product-description-container .description .product-description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 159.96%;
    margin-top: 30px;
}