.mini-left-cart-item-container {
    display: flex;
    flex-direction: column;
    min-width: 136px;
    max-width: 136px;

}

.mini-left-cart-item-container .product-name {
    display: flex;
    flex-direction: column;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 8px;

}



.mini-left-cart-item-container .product-size {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.mini-left-cart-item-container .product-size .size-label {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
    margin-bottom: 5px;

}

.mini-left-cart-item-container .product-size .size-picker {
    display: flex;
    flex-direction: row;
}



.mini-left-cart-item-container .product-color {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.mini-left-cart-item-container .product-color .color-label {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.mini-left-cart-item-container .product-color .color-picker {
    display: flex;
    flex-direction: row;
    column-gap: 7px;
    margin: 3px 3px;
}


.mini-left-cart-item-container .product-capacity {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.mini-left-cart-item-container .product-capacity .capacity-label {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.mini-left-cart-item-container .product-capacity .capacity-picker {
    display: flex;
    flex-direction: row;
}


.mini-left-cart-item-container .product-with {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.mini-left-cart-item-container .product-with .ports-label {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.mini-left-cart-item-container .product-with .ports-picker {
    display: flex;
    flex-direction: row;
}


.mini-left-cart-item-container .product-touch {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.mini-left-cart-item-container .product-touch .keyboard-label {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.mini-left-cart-item-container .product-touch .keyboard-picker {
    display: flex;
    flex-direction: row;
}



.mini-left-cart-item-container .product-price {
    display: flex;
    flex-direction: row;

    margin-bottom: 10px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: var(--primary-dark);
}


/********/

.large-left-cart-item-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 300px;

}

.large-left-cart-item-container .product-name {
    display: flex;
    flex-direction: column;
    font-family: 'Raleway';
    font-style: normal;

    margin-bottom: 8px;
}

.large-left-cart-item-container .product-name .brand {
    font-weight: 600;
    font-size: 30px;
}

.large-left-cart-item-container .product-name .name {
    font-weight: 400;
    font-size: 30px;

}




.large-left-cart-item-container .product-size {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.large-left-cart-item-container .product-size .size-label {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 5px;

}

.large-left-cart-item-container .product-size .size-picker {
    display: flex;
    flex-direction: row;
}

.large-left-cart-item-container .product-color {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.large-left-cart-item-container .product-color .color-label {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.large-left-cart-item-container .product-color .color-picker {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    margin: 3px 3px;
}


.large-left-cart-item-container .product-capacity {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.large-left-cart-item-container .product-capacity .capacity-label {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.large-left-cart-item-container .product-capacity .capacity-picker {
    display: flex;
    flex-direction: row;
}


.large-left-cart-item-container .product-with {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.large-left-cart-item-container .product-with .ports-label {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.large-left-cart-item-container .product-with .ports-picker {
    display: flex;
    flex-direction: row;
}


.large-left-cart-item-container .product-touch {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.large-left-cart-item-container .product-touch .keyboard-label {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.large-left-cart-item-container .product-touch .keyboard-picker {
    display: flex;
    flex-direction: row;
}



.large-left-cart-item-container .product-price {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: var(--primary-dark);
}