.modal-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--overlay);
    z-index: 4;
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-container .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 30px 0;
    width: 400px;
}

.modal-container .modal-content .modal-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}

.modal-container .modal-content .modal-head .close-button {
    text-align: center;
    cursor: pointer;
    border: 1px solid black;
    padding: 0 4px;
}

.modal-container .modal-content .modal-head .close-button:hover {
    background-color: lightgray;
}


.modal-container .modal-content .modal-head .modal-title {
    font-family: 'Raleway';
    font-style: normal;
    font-size: 15px;
}



.modal-container .modal-content .divider {
    border: 1px solid #E5E5E5;
    width: 100%;
    margin: 10px 0;
}

.modal-container .modal-content .modal-foot {
    margin: 0 20px;
}

.modal-container .modal-content .modal-foot .msg {
    font-family: 'Raleway';
    font-style: normal;
    font-size: 20px;
    margin-bottom: 30px;
}


.modal-container .modal-content .modal-foot .confirm-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0;
    width: 100%;
}

.modal-container .modal-content .modal-foot .notify-controls {
    margin: 10px 0;
    width: 100%;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}