.swatch-picker-container {
    position: relative;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    align-self: center;
}

.swatch-picker-container .normal {
    height: 16px;
    width: 16px;
}

.swatch-picker-container .selected {
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    outline: 1px solid var(--primary-green);
    outline-offset: 2px;
}

.swatch-picker-container .large-normal {
    height: 32px;
    width: 32px;
}

.swatch-picker-container .large-selected {
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    outline: 1px solid var(--primary-green);
    outline-offset: 2px;
    
}

