:root {
  --primary-green: #5ECE7B;
  --primary-lite: #77d491;
  --primary-dark: #1D1F22;
  --gray: #a8acb030;
  --shadow: #a7abaf30;
  --overlay: #39374838;
  --out-of-stock: #8D8F9A;
}

html,
body {
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
    text-decoration: none;
}
  
ul li {
    list-style: none;
}

.no-scroll { overflow: hidden; }