.mini-right-cart-item-container {
    display: flex;
    flex-direction: row;
    max-width: 153px;
    align-items: center;
}

.mini-right-cart-item-container .add-reduce {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: normal;
    margin-right: 8px;
}

.mini-right-cart-item-container .add-reduce .add-quantity {
    border: 1px solid;
    border-radius: 0%;
    height: 24px;
    width: 24px;

    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mini-right-cart-item-container .add-reduce .add-quantity:hover {
    background-color: lightgray;
}


.mini-right-cart-item-container .add-reduce .item-count {
    align-self: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.mini-right-cart-item-container .add-reduce .reduce-quantity {
    border: 1px solid;
    border-radius: 0%;
    height: 24px;
    width: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mini-right-cart-item-container .add-reduce .reduce-quantity:hover {
    background-color: lightgray;
}

.mini-right-cart-item-container .image-slider .item-image {
    width: 121px;
    height: 190px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.mini-right-cart-item-container .image-slider .slider-nav .nav-prev {
    display: none;
}

.mini-right-cart-item-container .image-slider .slider-nav .nav-next {
    display: none;
}




/***************/

.right-large-cart-item-container {
    display: flex;
    flex-direction: row;
    max-width: 360px;
    align-items: center;
}

.right-large-cart-item-container .add-reduce {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: normal;
    margin-right: 8px;
}

.right-large-cart-item-container .add-reduce .add-quantity {
    border: 1px solid;
    border-radius: 0%;
    height: 45px;
    width: 45px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.right-large-cart-item-container .add-reduce .add-quantity:hover {
    background-color: lightgray;
}


.right-large-cart-item-container .add-reduce .item-count {
    align-self: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}

.right-large-cart-item-container .add-reduce .reduce-quantity {
    border: 1px solid;
    border-radius: 0%;
    height: 45px;
    width: 45px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.right-large-cart-item-container .add-reduce .reduce-quantity:hover {
    background-color: lightgray;
}


.right-large-cart-item-container .image-slider {
    position: relative;
    transition: all 0.3s ease;
    width: 200px;
    height: 288px;
}

.right-large-cart-item-container .image-slider .item-image {
    transition: all 0.3s ease;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.right-large-cart-item-container .image-slider .slider-nav {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 10px;
    top: 86%;
    left: 126px;
}

.right-large-cart-item-container .image-slider .slider-nav .nav-prev {
    height: 24px;
    width: 24px;
    z-index: 3;
    background: var(--primary-dark);
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.right-large-cart-item-container .image-slider .slider-nav .nav-prev:hover {
    background: rgb(100, 100, 100);
}


.right-large-cart-item-container .image-slider .slider-nav .nav-next {
    height: 24px;
    width: 24px;
    z-index: 3;
    background: var(--primary-dark);
    transform: rotate(-180deg);
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
}

.right-large-cart-item-container .image-slider .slider-nav .nav-next:hover {
    background: rgb(100, 100, 100);
}


